@tailwind base;
@tailwind components;
@tailwind utilities;



.awssld__content img {
      object-fit: fill !important;
}


@media only screen and (max-width: 500px) {
      .awssld--organic-arrows {
            height: auto;
      }
}



.awssld__bullets {
      z-index: 50 !important;
      bottom: 1rem !important;
}

.awssld__bullets button {
      background: rgb(185, 28, 28) !important;
}